* {
    box-sizing: border-box;
}
.h-tag {
    display: flex;
    align-items: center;
}

.h-tag img {
    width: 700px;
    margin-left: 0px;
    margin-right: 40px;
}

/* Use a modern sans-serif font */
body {
    margin: 0;
    background-color: #f7f3ea;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

/* Use flexbox to center the content vertically and horizontally */
#main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: 50px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;
    background: linear-gradient(to bottom right, #f7f3ea, #e7e0d1);
}

/* Remove table styling */
#main table {
    border-collapse: collapse;
    width: 100%;
}

/* Style input and button */
#main .tb {
    height: 40px;
    width: 80%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #a1887f;
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
}

#main .btn {
    width: 150px;
    height: 40px;
    background-color: #a1887f;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}

/* Change button color on hover */
#main .btn:hover {
    background-color: #fff;
    color: #a1887f;
    border: 1px solid #a1887f;
}

/* Add responsive styles for smaller screens */
@media only screen and (max-width: 600px) {
    #main {
        flex-direction: column;
        width: 100%;
        margin: 20px 0;
        border: none;
        padding: 20px;
    }
    #main .tb {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }
}
