<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Cozy Room i hate spring Rent</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/homepagestyle.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link href="css/roompagestyle.css" rel="stylesheet" type="text/css"/>

</head>
<body>
	<div class="container">
	<div class="title">
    <h1 th:text="${title}">Default i hate spring</h1>
</div>

		<div class="room-image">
			<img src="https://via.placeholder.com/800x400" alt="Example Image">
		</div>
		<div class="room-details">
			<p>Looking for a cozy and comfortable place to stay? Our fully furnished room for rent has everything you need for a comfortable stay. The room is equipped with a comfortable bed, a desk for studying or working, and ample storage space for your belongings. The room also has a large window that provides plenty of natural light and a great view of the surrounding area.</p>
			<ul>
				<li><strong>Price:</strong>  $1000/month</li>
				<li><strong>Location:</strong> Downtown area</li>
			</ul>
		</div>
		<div class="contact-details">
			<h2>Contact Information</h2>
			<ul>
				<li><strong>Email:</strong> example@email.com</li>
				<li><strong>Phone:</strong> 123-456-7890</li>
			</ul>
		</div>
	</div>
</body>
</html>