<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search Page</title>
    <link href="css/search.css" rel="stylesheet" type="text/css">
</head>
<body>
<button id="create-post-btn" onclick="window.location.href='roomlisting'">CREATE POST</button>

<!--Working search bar-->
<form>
    <input type="text" placeholder="Search for a room...">
    <button id="searchSubmitBtn" name="searchItem" type="submit">Search</button>
</form>

<!--This displays the first initial of the user that logged in. This is just an example.-->

<button id="profile-btn" th:text="${A}"></button>

<!--When the user clicks on the profile button, their 'about me' section pops up.-->
<div id="biography-popup" th:style="${isVisible} ? 'display:block;' : 'display:none;'">
  
    <h2 style="text-align: center;" th:text="${firstName} + ' ' + ${lastName}"></h2>
  
    <p>This is the user's biography.</p>
</div>

<script th:inline="javascript">
      const profileBtn = document.getElementById("profile-btn");
      const biographyBlock = document.getElementById("biography-popup");
      let isVisible = false;
      profileBtn.addEventListener("click", () => {
        if (isVisible) {
          biographyBlock.style.display = "none";
	          isVisible = false;
        } else {
          biographyBlock.style.display = "block";
          isVisible = true;
        }
      });
</script>

<!--For every listing in the roomListings database, output the address and the price.-->

<ul>
    <li th:each="listing : ${listings}">
     	<a th:href="@{/room(id=${listing.id.toString()})}" style="color: #333333; text-decoration: none;">
	       <img th:src="${listing.image}" width="200" style="margin-bottom: 10px;">
	        <p th:text="${listing.title}" style="margin-bottom: 10px;"></p>
	        <p th:text="'$' + ${listing.price} + ' /month'"></p>
        </a>
    </li>
</ul>
<div class="light"></div>
<!--<script src="js/search.js"></script>-->
</body>
</html>