<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="css/signup.css">
  <title>Registration Form</title>
</head>

<body>
<div id="main">
  <div class="h-tag">
    <img src="images/homepageroom.png">
  </div>
  <div id="register">
    <table cellspacing="2" align="center" cellpadding="8" border="0">
      <tr>
        <td align="right">First Name:</td>
        <td><input type="text" id="firstNameInput" placeholder="Enter first name here" class="tb" /></td>
      </tr>
      <tr>
        <td align="right">Last Name:</td>
        <td><input type="text" id="lastNameInput" placeholder="Enter last name here" class="tb" /></td>
      </tr>

      <tr>
        <td align="right">Email:</td>
        <td><input type="text" id="emailInput" placeholder="Enter email here" class="tb" /></td>
      </tr>
      <tr>
        <td align="right">Phone Number:</td>
        <td><input type="text" id="phoneNumberInput" placeholder="Enter phone number here" class="tb" /></td>
      </tr>
      <tr>
        <td align="right">Password:</td>
        <td><input type="password" id="passwordInput" placeholder="Enter Password here" class="tb" /></td>
      </tr>
      <tr>
        <td align="right">Confirm Password:</td>
        <td><input type="password" placeholder="Enter Password here" class="tb" /></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" id="submitButton" value="Create Account" class="btn" onclick="window.location.href='search'" /></td>
      </tr>
    </table>
  </div>
</div>
<script src="js/signup.js"></script>
</body>
</html>
</div>
</body>
</html>
